* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FA58F4;
}

div {
    background-color: #111111;
    border: 1px solid black;
    width: 420px;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;

}

img {
    width: 100%;
}

p {
    padding-top: 1.8rem;
    text-align: justify;
    width: 90%;
    font-size: 18px;
    margin-left: 18px;
    color: #B4045F;
    
}

h1 , h2 {
    padding-top: 1rem;
    color: #FF0080;
    text-shadow: 1px 1px 1px #E6E6E6;
}
nav {
    background-color: #111111;
    width: 410px;
    height: 40px;
    margin-left: 70%;
    margin-top: 0.3rem;

}


nav ul li {
    display: inline;
}

li {
    padding: 10px 15px ;
}

ul {
    padding-top: 0.7rem;
}

a {
    text-decoration: none;
    color: #FF0080;
    font-weight: bold;

}